.poster{
    display: block;
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
}

.wrap{
    display: flex;
    gap: 40px;
}

.link{
    color: black;
    font-size: 24px;
}

.link:hover{
    font-weight: 600;
}

.additional{
    margin-left: 20px;
}